*{
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    z-index: 100;
}

body{
    overflow-y: scroll;
}

nav{
    width: 100vw;
    text-align: center;
}

nav ul{
    margin-right: 20px;
    text-align: center;
}

nav ul li{
    margin: 0 5px;
    text-align: center;
    margin:0 5px;
    line-height: 80px;
}

#second-div{
    position: absolute;
    bottom:10%;

}

#text1{
    top:100%;
}

#link2{
    top: 150%;
}

#img2{
    top: 170%;

}

#text{
    top: 160%;
}