*{
    user-select: none;
    margin: 0;
    padding: 0;
}

/* making the canvas resizeable */
#canvas1{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 4; /*this is ontop*/
}

#canvas2{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 3; /*then this*/
    
}

#canvas3{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    
}

#canvas4{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}