body{
    background-color: black;
    top: 0%;
    left: 0%;
    margin: 0%;
    padding: 0;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    text-align: center;
}

canvas{
    position: absolute;
    background-color: aqua;
    width: 73%;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}